@use '../var.scss' as *;

$card-bp-md: 600px;
$card-bp-lg: 800px;
$card-bg-color: whitesmoke;
$card-text-color: whitesmoke;
$card-radius: 4px;
$card-scale-height: 350px;

.df-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  max-width: 100%;
  text-align: center;
  color: $card-text-color;
  background-color: $card-bg-color;
  border-radius: $card-radius;

  @media (min-width: $card-bp-md) {
    height: $card-scale-height;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--df-transition-duration) * 1.5)
      var(--df-transition-e);
    pointer-events: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.32) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.54) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.79) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--df-transition-duration) * 2)
      var(--df-transition-e);
  }
}

.df-card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--df-transition-duration) var(--df-transition-e);
  z-index: var(--df-index-normal);

  > * + * {
    margin-top: 1rem;
  }
}

.df-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.df-card-content {
  // font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: $card-bp-md) {
  .df-card:after {
    transform: translateY(0);
  }

  .df-card-body {
    transform: translateY(calc(100% - 4.5rem));

    > *:not(.df-card-title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--df-transition-duration) var(--df-transition-e),
        opacity var(--df-transition-duration) var(--df-transition-e);
    }
  }

  .df-card:hover,
  .df-card:focus-within {
    align-items: center;

    &:before {
      transform: translateY(-4%);
    }
    &:after {
      transform: translateY(-50%);
    }

    .df-card-body {
      transform: translateY(0);

      > *:not(.df-card-title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--df-transition-duration) / 8);
      }
    }
  }

  .df-card:focus-within {
    &:before,
    &:after,
    .df-card-body,
    .df-card-body > *:not(.df-card-title) {
      transition-duration: 0s;
    }
  }
}
