.df-modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#df-modal {
  z-index: 1000;
  position: fixed;
  left: 50%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);

  // 动态配置项
  width: 400px;
  border-radius: 5px;

  .df-modal-header {
    height: 44px;
    padding: 0 15px;
    box-sizing: border-box;
    // color: white;

    h2 {
      display: inline-block;
      font-size: 18px;
      line-height: 44px;
    }

    a {
      float: right;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .df-modal-content {
    color: #333;
    padding: 15px;
    box-sizing: border-box;
  }
  .df-modal-footer {
    // margin-right: 10px;
    // margin-left: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    .df-modal-action {
      height: 30px;
      padding: 10px 0;
    }
    .df-modal-btn {
      float: right;
      min-width: 80px;
      height: 30px;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 10px;
      border: none;
    }
    .df-modal-confirm {
      color: var(--df-color-white);
      background-color: var(--df-color-primary);
    }
    .df-modal-cancel {
      // background-color: #ddd;
      color: #666;
    }
  }
}
