.df-starsrate .df-starsrate__iconfont{display:inline-block;color:#949494;padding:0 5px}.df-starsrate .df-starsrate__iconfont:hover{transform:scale(1.1)}.df-starsrate .df-starsrate__iconfont.iconfont:hover{transition:all .3s;color:#727272}.df-starsrate .df-starsrate__iconfont.active:hover{transition:all .3s;opacity:.5}

