.df-stars-iconfont {
  display: inline-block;
  color: rgb(148, 148, 148);
  padding: 0 5px;
  &:hover {
    transform: scale(1.1);
  }
  &.iconfont:hover {
    transition: all 0.3s;
    color: rgb(114, 114, 114);
  }
  &.active:hover {
    transition: all 0.3s;
    opacity: 0.5;
  }
}
